#pragma code_page(65001)
#include <windows.h>
#include <afxres.h>
#include "resource.h"

#undef IDC_STATIC
#define IDC_STATIC (-1)

LANGUAGE 18, 1

IDR_MAINFRAME MENU
BEGIN
    POPUP "파일(&F)"
    BEGIN
        MENUITEM "종료(&X)", 1001
    END
    POPUP "도구(&T)"
    BEGIN
        MENUITEM "시뮬레이션 실행(&R)\tCtrl+R", 1101
        MENUITEM "시뮬레이션 중단(&S)\tCtrl+Break", 1102
        MENUITEM SEPARATOR
        MENUITEM "설정(&S)...", 1002
    END
END

101 DIALOGEX 0, 0, 350, 180
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "설정"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT "simc.exe 경로:", IDC_STATIC, 15, 22, 50, 8
    EDITTEXT IDC_EDIT_SIMC_PATH, 70, 20, 210, 14, ES_AUTOHSCROLL
    PUSHBUTTON "찾아보기...", IDC_BUTTON_BROWSE_SIMC, 285, 20, 50, 14
    
    GROUPBOX "Battle.net API 설정 (선택 사항)", IDC_STATIC, 10, 50, 330, 60
    LTEXT "Client ID:", IDC_STATIC, 20, 67, 40, 8
    EDITTEXT IDC_EDIT_CLIENT_ID, 70, 65, 250, 14, ES_AUTOHSCROLL
    LTEXT "Client Secret:", IDC_STATIC, 20, 87, 45, 8
    EDITTEXT IDC_EDIT_CLIENT_SECRET, 70, 85, 250, 14, ES_PASSWORD | ES_AUTOHSCROLL
    
    PUSHBUTTON "SimulationCraft 다운로드", IDC_BUTTON_DOWNLOAD_SIMC, 15, 120, 100, 14
    CONTROL "", IDC_PROGRESS_DOWNLOAD, "msctls_progress32", WS_BORDER, 120, 120, 150, 14
    LTEXT "", IDC_STATIC_DOWNLOAD_STATUS, 120, 137, 150, 8
    
    DEFPUSHBUTTON "저장", IDC_BUTTON_SAVE_SETTINGS, 110, 155, 60, 14
    PUSHBUTTON "취소", IDCANCEL, 180, 155, 60, 14
END

106 DIALOG 0, 0, 300, 200
STYLE WS_CHILD
BEGIN
END

107 DIALOG 0, 0, 300, 350
STYLE WS_CHILD
FONT 9, "굴림"
BEGIN
    LTEXT "전투 유형:", IDC_STATIC, 10, 10, 50, 8
    COMBOBOX IDC_COMBO_FIGHT_STYLE, 60, 8, 100, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "전투 시간:", IDC_STATIC, 10, 30, 50, 8
    EDITTEXT IDC_EDIT_DURATION, 60, 28, 60, 14, ES_NUMBER | WS_TABSTOP
    LTEXT "반복 횟수:", IDC_STATIC, 10, 50, 50, 8
    EDITTEXT IDC_EDIT_ITERATIONS, 60, 48, 60, 14, ES_NUMBER | WS_TABSTOP
    LTEXT "적 수:", IDC_STATIC, 10, 70, 50, 8
    COMBOBOX IDC_COMBO_TARGETS, 60, 68, 60, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
    LTEXT "버프 설정:", IDC_STATIC, 10, 100, 50, 8
    CONTROL "영약", IDC_CHECK_FLASK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 115, 40, 10
    CONTROL "음식", IDC_CHECK_FOOD, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 70, 115, 35, 10
    CONTROL "룬", IDC_CHECK_RUNE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 115, 115, 35, 10
    CONTROL "증강", IDC_CHECK_AUGMENT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 160, 115, 45, 10
    CONTROL "블러드", IDC_CHECK_BLOODLUST, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 130, 50, 10
    CONTROL "물약", IDC_CHECK_POTION, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 80, 130, 40, 10
    
    LTEXT "무기 강화:", IDC_STATIC_TEMP_ENCHANT_LABEL, 10, 160, 60, 8
    COMBOBOX IDC_COMBO_TEMP_ENCHANT, 75, 158, 165, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "도가니:", IDC_STATIC_CRUCIBLE_LABEL, 10, 180, 60, 8
    CONTROL "공격", IDC_CHECK_CRUCIBLE_VIOLENCE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 75, 178, 40, 10
    CONTROL "치유", IDC_CHECK_CRUCIBLE_SUSTENANCE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 125, 178, 40, 10
    CONTROL "전투", IDC_CHECK_CRUCIBLE_PREDATION, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 175, 178, 40, 10
END

108 DIALOG 0, 0, 600, 250
STYLE WS_CHILD
BEGIN
END

STRINGTABLE
BEGIN
    ID_FILE_EXIT "애플리케이션을 종료합니다"
    ID_BUTTON_RUN_SIM "시뮬레이션을 실행합니다"
    IDR_MAINFRAME "WoWSimbotQuick\n\nWoWSimbotQuick\n\n\nWoWSimbotQuick.Document\nWoWSimbotQuick.Document"
END

#ifndef APSTUDIO_INVOKED
#include "afxres.rc"
#endif
