#pragma code_page(65001)
#include <windows.h>
#include <afxres.h>
#include "resource.h"

#undef IDC_STATIC
#define IDC_STATIC (-1)

LANGUAGE 18, 1

IDR_MAINFRAME MENU
BEGIN
    POPUP "파일(&F)"
    BEGIN
        MENUITEM "종료(&X)", 1001
    END
END

IDR_MAINFRAME ICON "WoWSimbotQuick.ico"

101 DIALOGEX 0, 0, 350, 120
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "설정"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT "simc.exe 경로:", IDC_STATIC, 15, 22, 50, 8
    EDITTEXT IDC_EDIT_SIMC_PATH, 70, 20, 210, 14, ES_AUTOHSCROLL
    PUSHBUTTON "찾아보기...", IDC_BUTTON_BROWSE_SIMC, 285, 20, 50, 14
    
    PUSHBUTTON "SimulationCraft 다운로드", IDC_BUTTON_DOWNLOAD_SIMC, 15, 55, 100, 14
    CONTROL "", IDC_PROGRESS_DOWNLOAD, "msctls_progress32", WS_BORDER, 120, 55, 150, 14
    LTEXT "", IDC_STATIC_DOWNLOAD_STATUS, 120, 72, 150, 8
    
    DEFPUSHBUTTON "저장", IDC_BUTTON_SAVE_SETTINGS, 110, 95, 60, 14
    PUSHBUTTON "취소", IDCANCEL, 180, 95, 60, 14
END

106 DIALOG 0, 0, 300, 200
STYLE WS_CHILD
BEGIN
END

107 DIALOG 0, 0, 280, 340
STYLE WS_CHILD
FONT 9, "굴림"
BEGIN
    LTEXT "전투 유형:", IDC_STATIC, 10, 10, 60, 8
    COMBOBOX IDC_COMBO_FIGHT_STYLE, 75, 8, 120, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "전투 시간:", IDC_STATIC, 10, 30, 60, 8
    EDITTEXT IDC_EDIT_DURATION, 75, 28, 55, 14, ES_NUMBER | WS_TABSTOP
    LTEXT "반복 횟수:", IDC_STATIC, 10, 50, 60, 8
    EDITTEXT IDC_EDIT_ITERATIONS, 75, 48, 55, 14, ES_NUMBER | WS_TABSTOP
    LTEXT "적 수:", IDC_STATIC, 10, 70, 60, 8
    COMBOBOX IDC_COMBO_TARGETS, 75, 68, 55, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
    LTEXT "버프 설정:", IDC_STATIC, 10, 96, 60, 8
    CONTROL "영약", IDC_CHECK_FLASK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 110, 45, 10
    CONTROL "음식", IDC_CHECK_FOOD, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 95, 110, 45, 10
    CONTROL "룬", IDC_CHECK_RUNE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 170, 110, 45, 10
    CONTROL "증강", IDC_CHECK_AUGMENT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 124, 55, 10
    CONTROL "물약", IDC_CHECK_POTION, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 95, 124, 45, 10
    
    LTEXT "무기 강화:", IDC_STATIC_TEMP_ENCHANT_LABEL, 10, 144, 60, 8
    COMBOBOX IDC_COMBO_TEMP_ENCHANT, 75, 142, 120, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT "공격대 버프:", IDC_STATIC, 10, 162, 65, 8
    CONTROL "지능", IDC_CHECK_ARCANE_INTELLECT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 176, 40, 10
    CONTROL "인내", IDC_CHECK_POWER_WORD_FORTITUDE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 95, 176, 40, 10
    CONTROL "전투함성", IDC_CHECK_BATTLE_SHOUT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 170, 176, 55, 10
    CONTROL "신비", IDC_CHECK_MYSTIC_TOUCH, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 190, 40, 10
    CONTROL "혼돈", IDC_CHECK_CHAOS_BRAND, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 95, 190, 40, 10
    CONTROL "하늘격노", IDC_CHECK_SKYFURY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 170, 190, 55, 10
    CONTROL "야생징표", IDC_CHECK_MARK_OF_THE_WILD, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 204, 55, 10
    CONTROL "사냥꾼징표", IDC_CHECK_HUNTERS_MARK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 95, 204, 70, 10
    CONTROL "출혈", IDC_CHECK_BLEEDING, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 170, 204, 40, 10
    CONTROL "블러드", IDC_CHECK_BLOODLUST, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 218, 50, 10

    LTEXT "고급 옵션:", IDC_STATIC, 10, 236, 60, 8
    CONTROL "스탯 가중치 계산", IDC_CHECK_CALC_SCALE_FACTORS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 250, 100, 10
    LTEXT "scale_only:", IDC_STATIC, 20, 264, 50, 8
    EDITTEXT IDC_EDIT_SCALE_ONLY, 75, 262, 120, 14, ES_AUTOHSCROLL | WS_TABSTOP
    CONTROL "report_details", IDC_CHECK_REPORT_DETAILS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 280, 90, 10
    CONTROL "single_actor_batch", IDC_CHECK_SINGLE_ACTOR_BATCH, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 120, 280, 110, 10
    CONTROL "optimize_expressions", IDC_CHECK_OPTIMIZE_EXPRESSIONS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 294, 115, 10
    LTEXT "target_error:", IDC_STATIC, 20, 310, 50, 8
    EDITTEXT IDC_EDIT_TARGET_ERROR, 75, 308, 50, 14, ES_AUTOHSCROLL | WS_TABSTOP
END

108 DIALOG 0, 0, 600, 250
STYLE WS_CHILD
BEGIN
END

STRINGTABLE
BEGIN
    ID_FILE_EXIT "애플리케이션을 종료합니다"
    ID_BUTTON_RUN_SIM "시뮬레이션을 실행합니다"
    IDR_MAINFRAME "WoWSimbotQuick\n\nWoWSimbotQuick\n\n\nWoWSimbotQuick.Document\nWoWSimbotQuick.Document"
END

#ifndef APSTUDIO_INVOKED
#include "afxres.rc"
#endif
